<!DOCTYPE html>
<html>
  <head>
    <title>Tweety</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<section class="container">
			<div class="hero-body">
				<div class="columns">
					<div class="column is-half is-offset-one-quarter">
						<div class="has-text-centered big-margin-bottom">
							<h1 class="title is-1 main-title"><%= link_to "Tweety", root_path%></h1>
						</div>
							<div class="card">
								<div class="card-content">
    							<%= yield %>
								</div>
							</div>
					</div>
				</div>
			</div>
		</section>


  </body>
</html>
